.parallax {
    position: absolute;
    margin-top: -500px;
    width: 100%;
    height: 60rem;
    background-image: url('../img/Bubbles.svg');
    background-size: 90%, 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    contain: layout;
}

