@font-face {
    font-family: "Cyrge";
    src: url(/fonts/Cyrge/Cygre-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Coolvetica";
    src: url(/fonts/Coolvetica/coolveticaRg.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-family: "Coolvetica";
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Coolvetica";
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F3F0E8;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

._container{
    max-width: 1196px;
    padding: 0px 45px;
    margin: 0px auto;
    box-sizing: content-box;
}
/*-HEADER NAV------------------------------------------------*/


.header {
    height: 58px;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 92px;
    background-color: #CC427A;
    z-index: 5;
}

.header__container{
    position: relative;
    display: flex;
    min-height: 58px;
    align-items: center;
}

.header__logo {
    margin: 0px 20px 0px 0px;
    z-index: 10;
}

.header__burger {
    display: none;
    cursor: pointer;
}

.header__menu {
    z-index: 10;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu {
    padding: 24px 0;
    z-index: 6;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child){
    margin: 0px 48px 0px 0px;
}

.menu__link {
    line-height: calc(24 / 20 * 100%);
}

@media(hover: hover){
    .menu__link:hover {
        opacity: .85;
    }
}

.menu__link_request-call {
    font-size: 14px;
    display: flex;
    margin: 0px 0px 0px 86px;
    align-items: center;
    justify-content: center;
    border: 1px solid  #FFFFFF;
    border-radius: 40px;
    height: 42px;
    width: 148px;
}

/* ------------------------------ */
.page {
    flex: 1 1 auto;
}

/* --MAIN---------------------------- */
.main-block__body {
    padding: 22px 0px 0px 0px;
    position: relative;
    z-index: 2;
}

.main-block__title {
    font-size: 164px;
    font-family: "Coolvetica";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.main-block__information {
    position: relative;
    top: 200px;
    display: grid;
    justify-content: flex-end;
}

.main-block__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main-block__text {
    font-family: "Cyrge";
    white-space: nowrap;
}

.main-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.main-block__button-text {
    position: absolute;
}

.main-block__image {
    position: absolute;
    z-index: 10;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._cbg {
    position: relative;
}

._cbg div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main-block__background {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #CC427A;
    top: 0;
    left: 0;
}

/* --Page-with-items-------------------------------- */
.circles__container {
    height: 600px;
    margin-inline: auto;
    position: relative;
}

[class^="circle-"] {
    position: absolute;
    z-index: 10;
    background-color: #F6B9C9;
    border-radius: 100%;
    margin-inline: auto;
    width: 100%;
    aspect-ratio: 1 / 1 ;
}

.circle-1 {
    width: 4vw;
    height: 4vw;
    border: 5px solid #FDEBEF;
    top: 500px;
    left: -40px;
}

.circle-2 {
    width: 26vw;
    height: 26vw;
    border: 15px solid #FDEBEF;
    top: 80px;
    left: -40px;
}

.circle-3 {
    width: 8vw;
    height: 8vw;
    border: 10px solid #FDEBEF;
    top: -40px;
    left: 320px;
}

.circle-4 {
    width: 7vw;
    height: 7vw;
    border: 10px solid #FDEBEF;
    top: 240px;
    left: 474px;
}

.circle-5 {
    width: 10vw;
    height: 10vw;
    border: 10px solid #FDEBEF;
    top: 370px;
    left: 450px;
}

.circle-6 {
    width: 6vw;
    height: 6vw;
    border: 10px solid #FDEBEF;
    top: 300px;
    left: 620px;
}

.circle-7 {
    width: 4vw;
    height: 4vw;
    border: 5px solid #FDEBEF;
    top: 430px;
    left: 660px;
}

.circle-8 {
    width: 19vw;
    height: 19vw;
    border: 15px solid #FDEBEF;
    top: 40px;
    left: 90%;
}

.circle-9 {
    width: 9vw;
    height: 9vw;
    border: 10px solid #FDEBEF;
    top: 240px;
    left: 80%;
}

.circle-10 {
    width: 4vw;
    height: 4vw;
    border: 5px solid #FDEBEF;
    top: 380px;
    left: 90%;
}
/* --Item------------------------------ */

.page__item-block {
    border-radius:100% 100% 0 0;
    background-color: #4C76CA;
    position: absolute;
    height: 840px;
    margin-top: -160px;
    width: 150%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.item__title {
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    display: grid;
    justify-content: flex-end;
    margin: 100px 0px 140px 0px;
}

.item__body{
    display: flex;
}

.cards_item{
    margin: 0px 24px 0px 0px;
    flex: 0 1 25%;
}

.bubble_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
    margin: -40px 10px 10px 220px;
}

.bubble_2 {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: -70px 10px 10px 190px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
}

.card-item__background {
    width: 282px;
    height: 282px;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 10px solid #A8D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-item__image {
    margin: -20px 0px 0px 0px;
    max-width: 100%; /* Подгоняем изображение под размер фона */
    height: auto;  
}

.card-item__title {
    margin-top: 10px;
    font-family: "Coolvetica";
    line-height: 24px;
}
.card-item__text {
    font-family: "Cyrge";
    font-size: 16px;
}

.card-item__information {
    padding-top: 16px;
}

.item__pagination {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.item__pagination .item__pagination-indicator--active {
    background-color: #FFBC27;
    z-index: 10;
}

.item__pagination-button {
    background: #FFBC27;
    z-index: 10;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin: 0 24px;
    border-radius: 100%;
}

.item__pagination-indicators {
    display: flex;
    z-index: 10;
    gap: 10px;
}

.item__pagination-indicator {
    z-index: 10;
    background: #FFFFFF;
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
}


/* --Advantage------------------------- */

.advantage__container {
    z-index: 100;
    position: relative;
}

.circles__container-advantage {
    height: 470px;
    margin-top: 570px;
    position: relative;
    margin-inline: auto;
}

.circle__advantage{
    margin-inline: auto;
    z-index: 10;
    position: absolute;
    background-color: #A8D2FF;
    border-radius: 100%;
    width: 100%;
    border: 5px solid #F5FAFF;
    aspect-ratio: 1 / 1 ;
}

.circle-1__advantage {
    border: 10px solid #F5FAFF;
    width: 294px;
    height: 294px;
    top: 31px;
    left: -2%;
}

.circle-2__advantage {
    width: 142px;
    height: 142px;
    top: 92px;
    left: 14%;
}

.circle-3__advantage {
    width: 62px;
    height: 62px;
    top: 242px;
    left: 13%;
}

.circle-4__advantage {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 242px;
    left: 17%;
}

.circle-5__advantage {
    border: 15px solid #F5FAFF;
    width: 472px;
    height: 472px;
    left: 80%;
}

.circle-6__advantage {
    border: 10px solid #F5FAFF;
    width: 172px;
    height: 172px;
    top: 77px;
    left: 71%;
}

.circle-7__advantage {
    width: 74px;
    height: 74px;
    top: 204px;
    left: 68%;
}

.circle-8__advantage {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 250px;
    left: 73%;
}

.circle-9__advantage {
    border: 10px solid #F5FAFF;
    width: 108px;
    height: 108px;
    top: 258px;
    left: 74%;
}

.advantage__title{
    color: #4C76CA;
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    margin: -160px 0px 36px 0px;
}

.advantage__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.item-advantage__title {
    display: inline-block;
    margin: 0px 0px 8px 0px;
    color: #4C76CA;
    font-size: 24px;
    font-family: "Coolvetica";
}

.item-advantage__delimiter {
    height: 1px;
    width: 100%;
    background-color: #4C76CA;
}

.item-advantage__text {
    margin: 8px 0px 0px 0px;
    color: #4C76CA;
    font-size: 16px;
    font-family: "Cygre";
}
/* ------------------------------------ */
.cleanliness-block {
    margin-top: 30px;
    background-image: url(/img/BG-Cleanlines.svg);
    height: 900px;
    width: 100%;
    background-size: cover; /* увеличиваем размер на 50% */
}

.cleanliness-block__title {
    line-height: 110%;
    font-size: 96px;
    width: 502px;
    font-family: "Coolvetica";
}

.cleanliness-block__text {
    padding-top: 16px;
    line-height: 130%;
    font-size: 20px;
    font-family: "Cyrge";
    width: 526px;
}

.cleanliness-block__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Для вертикального выравнивания */
    align-items: center;
    margin-top: auto; /* Выталкивает кнопку к нижнему краю */
}

.cleanliness-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.cleanliness-block__button-text {
    width: 94px;
    position: absolute;
}

.cleanliness-block__left-image {
    margin-left: -73px;
    margin-top: 102px;
    position: absolute;
}

.cleanliness-block__body {
    padding: 260px 0px 0px 480px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 42px;
}
/* --about us-------------------------- */
.about-us-block{
    margin-top: 42px;
}
.about-us__body-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-us__body{
    display: flex;
    justify-content: center;
}

.about-us__column{
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin-top: 36px;
}

.about-us__head-title{
    display: inline-block;
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    width: 686px;
    color: #CC427A;
}

.about-us__head-description{
    margin-left: 25px;
    display: inline-block;
    width: 480px;
    color: #CC427A;
    font-family: "Cyrge";
}

.about-us__avatar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.about-us__quotes {
    line-height: 0%;
    font-size: 240px;
    margin-top: 100px;
    font-family: "Coolvetica";
    color: #F6B9C9;
}

.about-us__title {
    padding: 0px 20px 0px 40px;
    font-size: 24px;
    line-height: 150%;
    font-family: "Coolvetica";
    color: #CC427A;
}

.about-us__text {
    color: #CC427A;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    font-family: "Cyrge";
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.about-us__background {
    z-index: -1;
    position: relative;
    margin-top: -260px;
    height: 382px;
    width: 382px;
    border-radius: 100%;
    border: 1px solid #F5FAFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-us__pagination {
    background-color: #CC427A;
}

.about__pagination-indicator--active{
    background-color: #CC427A;
}
/* --Blog------------------------------ */
.circles__container-blog {
    position: relative;
    margin-inline: auto;
}

.circle__blog{
    margin-inline: auto;
    z-index: 100;
    position: absolute;
    background-color: #A8D2FF;
    border-radius: 100%;
    width: 100%;
    border: 5px solid #F5FAFF;
    margin-top: -140px;
    aspect-ratio: 1 / 1 ;
}

.circle-1__blog {
    border: 10px solid #F5FAFF;
    width: 294px;
    height: 294px;
    top: 31px;
    left: -2%;
}

.circle-2__blog {
    width: 142px;
    height: 142px;
    top: 92px;
    left: 14%;
}

.circle-3__blog {
    width: 62px;
    height: 62px;
    top: 242px;
    left: 13%;
}

.circle-4__blog {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 242px;
    left: 17%;
}

.circle-5__blog {
    border: 15px solid #F5FAFF;
    width: 472px;
    height: 472px;
    left: 80%;
}

.circle-6__blog {
    border: 10px solid #F5FAFF;
    width: 172px;
    height: 172px;
    top: 77px;
    left: 71%;
}

.circle-7__blog {
    width: 74px;
    height: 74px;
    top: 204px;
    left: 68%;
}

.circle-8__blog {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 250px;
    left: 73%;
}

.circle-9__blog {
    border: 10px solid #F5FAFF;
    width: 108px;
    height: 108px;
    top: 258px;
    left: 74%;
}

.blog__container{
    position: relative;
    z-index: 10;
}

.page__blog {
    border-radius:100% 100% 0 0;
    background-color: #4C76CA;
    position: relative;
    height: 600px;
    margin-top: 90px;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.blog__title{
    display: inline-block;
    font-size: 72px;
    padding: 100px 0px 36px 200px;
    text-transform: uppercase;
}

.blog__body{
    max-width: 100%;
    gap: 25px;
    display: flex;
    justify-content: center;
}

.item-blog__text{
    padding-top: 8px;
    font-size: 20px;
    font-family: "Cygre";
    width: 382px;
}
/* --FOOTER---------------------------- */
footer{
    margin-top: 8px;
    background-color: #4C76CA;
    font-style: normal;
}

.footer__items {
    padding-top: 74px;
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    justify-content: space-between;
}
.footer__item-title {
    font-family: "Coolvetica";
    font-size: 24px;
    line-height: 150%;
}
.footer__item-text {
    font-family: "Cygre";
    display: inline-grid;
    color: #FFFFFF;
    justify-content: center;
    font-size: 16px;
    padding-top: 35px;
    line-height: 30px;
}

.zovnishnii_container {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
}

.footer__item-img {
    padding-top: 22px;
}

.item-img + .item-img {
    padding-left: 15px;
}

.footer__item-socials {
    display: flex;
    gap: 24px;
}

.item-facebook {
    background-image: url(/img/Facebook.svg);
    height: 36px;
    width: 36px;
}

.item-whatsapp {
    background-image: url(/img/WhatsApp.svg);
    height: 36px;
    width: 36px;
}

.item-instagram {
    background-image: url(/img/Instagram.svg);
    height: 36px;
    width: 36px;
}

.item-telegram {
    background-image: url(/img/Telegram.svg);
    height: 36px;
    width: 36px;
}

.footer__item-lower{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    font-family: "Cygre";
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 48px;
    line-height: 150%;
}

.footer__terms {
    text-decoration: underline;
    font-family: "Cygre";
}

.footer__privacy {
    text-decoration: underline;
    font-family: "Cygre";
}

/* --Popup----------------- */

.popup {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__content {
    background-color: #F3F0E8;
    border: 1px solid #FFFFFF;
    padding: 18px 120px;
    border-radius: 500px;
    position: relative;
}

.popup__close {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.popup__title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Coolvetica";
    font-size: 32px;
    color: #4C76CA;
    line-height: 150%;
    text-align: center;
}

.popup__text {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cygre";
    font-size: 16px;
    color: #4C76CA;
    line-height: 130%;
    max-width: 177px;
    text-align: center;
    margin-bottom: 12px;
}

input[type="text"],
input[type="tel"] {
    font-size: 16px;
    width: 15.625vw;
    padding: 20px 0 20px 20px;
    margin: 8px 0;
    border-radius: 40px;
    box-sizing: border-box;
}

.button-send {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.send-text {
    font-family: "Coolvetica";
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    align-items: center;
}

/* --Media------------------ */

@media (min-width: 1200px) and (max-width: 1440px) {
    .main-block__title {
        font-size: 138px;
    }

    .about-us__background {
        height: 340px;
        width: 340px;
    }

    .about-us__text {
        font-size: 14px;
        width: 90%;
    }
    .cleanliness-block__body {
        padding: 260px 0px 0px 390px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-block__title {
        font-size: 116px;
    }

    .circle-1{
        border: 5px solid #FDEBEF;
        width: 4%;
        height: auto;
        top: 28%;
        left: 22%;
    }

    .circle-2 {
        border: 10px solid #FDEBEF;
        width: 28%;
        height: auto;
        top: 28%;
        left: -4%;
    }

    .circle-3 {
        border: 5px solid #FDEBEF;
        width: 12%;
        height: auto;
        top: 38%;
        left: 26%;
    }

    .circle-4 {
        border: 5px solid #FDEBEF;
        width: 8%;
        height: auto;
        top: 72%;
        left: 14%;
    }

    .item__title {
        justify-content: space-around;
    }

    .advantage__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
    }

    .item-blog__image img {
        width: 280px;
        height: auto;
    }

    .item-blog__text {
        width: 280px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu__item:not(:last-child) {
        margin: 0px 38px 0px 0px;
    }
    
    .menu__link_request-call {
        margin: 0px 0px 0px 0px;
    }

    .main-block__title {
        font-size: 88px;
    }

    .main-block__information {
        position: relative;
        top: 114px;
        display: grid;
        justify-content: end;
    }

    .item__title {
        display: grid;
        justify-content: center;
        margin: 100px 0px 140px 0px;
    }

    .advantage__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .advantage__title {
        font-size: 52px
    }

    .item-blog__image img {
        width: 226px;
        height: auto;
    }

    .item-blog__text {
        font-size: 16px;
        width: 226px;
    }

    .blog__body {
        gap: 16px;
    }
    
    .footer__items{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .footer__item-logo img {
        width: 127px;
        height: 35px;
    }

    .footer__item-title {
        font-size: 20px;
    }
    
    .footer__item-text {
        font-size: 14px;
        padding-top: 8px;
        line-height: 150%;
    }

    .footer__item-socials {
        gap: 0px;
    }

    .item-facebook {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-whatsapp {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-instagram {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-telegram {
        background-size: 66% 66%; /* Уменьшает изображение до 50% от размера контейнера */
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 577px) and (max-width: 767px) {

    body.lock {
        overflow: hidden;
    }

    .header:before {
        height: 60px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4C76CA;
        transition: all 0.3s ease 0s;
    }

    .header__menu.active {
        top: 0;
    }

    .menu__link_request-call {
        margin: 0px 0px 0px 0px;
    }

    .menu {
        padding: 24px 0;
    }

    .menu__list {
        position: relative;
        left: 4%;
        top: -22%;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    .menu__item:not(:last-child){
        margin: 0px 48px 0px 0px;
    }

    .menu__item:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
    
    .header__burger {
        position: relative;
        z-index: 10;
        width: 30px;
        height: 12px;
        display: flex;
        margin-left: auto;
    }



    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 5px;
        border-radius: 40px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 40px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before{
        transform:rotate(45deg);
        top: 5px;
    }

    .header__burger.active:after{
        transform:rotate(-45deg);
        bottom: 5px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .main-block__title {
        font-size: 128px;
        white-space: normal;
        text-align: center;
    }

    .main-image{
        height: 456px;
    }
    
    .main-block__image {
        position: absolute;
        z-index: 10;
        top: 180%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-block__information {
        position: relative;
        top: 560px;
        display: block;
    }

    .main-block__button {
        padding-top: 10px;
    }
    
    .main-block__button-text {
        font-size: 14px;
        line-height: 120%;
    }

    .main-block__buttons {
        justify-content: flex-end;
        position: relative;
        top: -50px;
    }

    .main-block__buttons img {
        height: 96px;
        width: 96px;
    }

    .main-block__background {
        height: 820px;
    }

    .circles__container {
        height: 760px;
    }

    .page__item-block{
        height: 720px;
    }

    .item__title {
        font-size: 48px;
        display: grid;
        justify-content: space-around;
        margin: 80px 0 90px 0;
    }

    .item__body {
        justify-content: center;
    }

    .advantage__body {
        grid-template-columns: repeat(1, 1fr);
        gap: 28px;
    }

    .advantage__title {
        font-size: 48px;
    }

    .cleanliness-block__left-image{
        position: absolute;
        z-index: 0;
        width: 100%;
    }

    .cleanliness-block__left-image img{
        width: 436px;
        margin: 253px 0px 0px 30px;
    }

    .cleanliness-block__body {
        z-index: 100;
        position: relative;
        padding: 160px 0px 0px 0px;
        align-items: stretch;
        justify-content: space-between;
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    
    .cleanliness-block__title {
        font-size: 72px;
    }

    .cleanliness-block__text {
        font-size: 18px;
        width: 100%;
    }

    .cleanliness-block__buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: initial;
    }

    .cleanliness-block__button-text {
        font-size: 18px;
    }

    .cleanliness-block__button img {
        width: 126px;
    }

    .blog__body {
        gap: 16px;
        display: flex;
        justify-content: center;
    }

    .blog__title {
        display: grid;
        justify-content: space-around;
        font-size: 58px;
        width: 100%;
        padding: 100px 0 36px 0px;
    }

    .item-blog__image img{
        width: 274px;
        height: auto;
    }

    .item-blog__text {
        font-size: 16px;
        width: 274px;
    }

    .footer__items{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer__item-logo img {
        width: 127px;
        height: 35px;
    }

    .footer__item-title {
        font-size: 20px;
    }
    
    .footer__item-text {
        font-size: 14px;
        padding-top: 8px;
        line-height: 150%;
    }

    .footer__item-socials {
        gap: 0px;
    }

    .item-facebook {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-whatsapp {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-instagram {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-telegram {
        background-size: 66% 66%; /* Уменьшает изображение до 50% от размера контейнера */
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 576px) {
    body.lock {
        overflow: hidden;
    }

    .header:before {
        height: 60px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4C76CA;
        transition: all 0.3s ease 0s;
    }

    .header__menu.active {
        top: 0;
    }

    .menu__link_request-call {
        margin: 0px 0px 0px 0px;
    }

    .menu {
        padding: 24px 0;
    }

    .menu__list {
        position: relative;
        left: 4%;
        top: -24%;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    .menu__item:not(:last-child){
        margin: 0px 48px 0px 0px;
    }

    .menu__item:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
    
    .header__burger {
        position: relative;
        z-index: 10;
        width: 30px;
        height: 12px;
        display: flex;
        margin-left: auto;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 5px;
        border-radius: 40px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 40px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before{
        transform:rotate(45deg);
        top: 5px;
    }

    .header__burger.active:after{
        transform:rotate(-45deg);
        bottom: 5px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__logo img {
        width: 64px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4C76CA;
        transition: all 0.3s ease 0s;
    }

    .menu__item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
    .main-block__title {
        margin-top: 8px;
        font-size: 80px;
        white-space: normal;
        text-align: center;
    }
    
    .main-image {
        height: 356px;
    }
    
    .main-block__image {
        position: absolute;
        z-index: 10;
        top: 138%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-block__body {
        padding: 0 0 0 0;
    }
    
    .main-block__information {
        position: relative;
        top: 420px;
        display: block;
    }

    .main-block__button {
        padding-top: 10px;
    }
    
    .main-block__button-text {
        font-size: 14px;
        line-height: 120%;
    }

    .main-block__buttons {
        justify-content: flex-end;
        position: relative;
        top: -50px;
    }

    .main-block__buttons img {
        height: 96px;
        width: 96px;
    }

    .circles__container {
        height: 600px;
        margin-inline: auto;
        position: relative;
    }

    .circle-1 {
        border: 3px solid #FDEBEF;
        height: 55px;
        width: 55px;
        top: 3%;
        left: 2%;
    }
    .circle-2 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 70px;
        left: 11%;
    }
    .circle-3 {
        border: 5px solid #FDEBEF;
        height: 105px;
        width: 105px;
        top: 80px;
        left: -10%;
    }
    .circle-4 {
        border: 5px solid #FDEBEF;
        height: 120px;
        width: 120px;
        top: 0px;
        left: 80%;
    }
    .circle-5 {
        border: 8px solid #FDEBEF;
        height: 280px;
        width: 280px;
        top: 300px;
        left: -6%;
    }
    .circle-6 {
        border: 5px solid #FDEBEF;
        height: 105px;
        width: 105px;
        top: 64%;
        left: 70%;
    }
    .circle-7 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 54%;
        left: 94%;
    }
    .circle-8 {
        border: 3px solid #FDEBEF;
        height: 55px;
        width: 55px;
        top: 80%;
        left: 61%;
    }
    .circle-9 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 82%;
        left: 76%;
    }
    .circle-10 {
        display: none;
    }
    
    .item__title {
        font-size: 32px;
        display: grid;
        justify-content: space-around;
        margin: 160px 0 90px 0;
    }

    .page__item-block {
        border-radius:100% 100% 0 0;
        background-color: #4C76CA;
        position: absolute;
        width: 250%;
        height: 620px;
        margin-top: -160px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bubble_1 {
        position: absolute;
        width: 50px;
        height: 50px;
        margin: -40px 10px 10px 220px;
    }
    
    .bubble_2 {
        position: absolute;
        width: 25px;
        height: 25px;
        margin: -50px 10px 10px 190px;
    }

    .card-item__background {
        width: 175px;
        height: 175px;
    }

    .card-item__title {
        font-size: 16px;
    }

    .card-item__text {
        font-size: 14px;
    }

    .header__menu.active {
        top: 0;
    }

    .item__title {
        font-size: 32px;
        display: grid;
        justify-content: space-around;
        margin: 160px 0 90px 0;
    }

    .item__body {
        justify-content: flex-end;
    }

    .card-item__image {
        height: 224px;
    }

    .item__pagination-button {
        height: 24px;
        width: 24px;
    }

    .item__pagination-indicators {
        gap: 8px;
    }

    .item__pagination-indicator {
        padding: 4px;
    }

    .circles__container-advantage {
        display: none;
    }

    .advantage__container{
        height: 670px;
        position: relative;
        margin-top: 620px;
    }

    .advantage__title {
        position: relative;
        font-size: 32px;
        margin: -120px 0px 16px 0px;
    }

    .advantage__body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .item-advantage__title {
        font-size: 20px;
    }

    .item-advantage__text {
        font-size: 14px;
    }

    .cleanliness-block__left-image{
        position: absolute;
        width: 100%;
    }

    
    .cleanliness-block__left-image img{
        width: 294px;
        margin: 350px 0px 0px 30px;
    }

    .cleanliness-block__body {
        z-index: 100;
        padding: 160px 0px 0px 0px;
        align-items: stretch;
        justify-content: space-between;
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    
    .cleanliness-block__title {
        font-size: 64px;
    }

    .cleanliness-block__text {
        font-size: 18px;
        width: 100%;
    }

    .cleanliness-block__buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: initial;
    }

    .cleanliness-block__button-text {
        font-size: 14px;
    }

    .cleanliness-block__button img {
        width: 96px;
    }

    .about-us__head-title {
        font-size: 32px;
        width: 100%;

    }

    .about-us__body-texts {
        display: flex;
        justify-content: unset;
        align-items: unset;
        position: relative;
        gap: 12px;
        flex-direction: column;
    }

    .about-us__head-description {
        font-size: 18px;
        margin-left: 0;
        width: 100%;
    }

    /* --------- */

    .about-us__body {
        justify-content: center;
    }

    .about-us__column {
        padding: 50px 50px 50px 50px;
        height: auto;
        width: auto;
    }

    .about-us__avatar {
        margin-top: auto;
    }

    .about-us__icon img {
        height: 64px;
        width: 64px;
    }

    .about-us__quotes {
        font-size: 164px;
        margin-top: 70px;
    }

    .about-us__title {
        font-size: 20px;
        padding: 4px 20px 0px 8px;
    }

    .about-us__text {
        font-size: 14px;
        padding: 0px 20px 0px 8px;
    }

    .page__blog {
        height: 520px;
    }

    .blog__title {
        font-size: 32px;
    }

    .blog__body {
        gap: 16px;
        display: flex;
        justify-content: center;
    }

    .item-blog__image img{
        width: 274px;
        height: auto;
    }

    .item-blog__text {
        font-size: 20px;
        width: 274px;
    }

    .circle-1__blog {
        border: 5px solid #F5FAFF;
        width: 146px;
        height: 146px;
        top: 80px;
        left: 10%;
    }
    
    .circle-2__blog {
        border: 3px solid #F5FAFF;
        width: 32px;
        height: 32px;
        top: 192px;
        left: 32%;
    }
    
    .circle-3__blog {
        border: 5px solid #F5FAFF;
        width: 80px;
        height: 80px;
        top: 100px;
        left: 36%;
    }
    
    .circle-4__blog {
        border: 2px solid #F5FAFF;
        width: 22px;
        height: 22px;
        top: 220px;
        left: 77%;
    }
    
    .circle-5__blog {
        border: 2px solid #F5FAFF;
        width: 32px;
        height: 32px;
        top: 160px;
        left: 65%;
    }
    
    .circle-6__blog {
        border: 6px solid #F5FAFF;
        width: 102px;
        height: 102px;
        top: 90px;
        left: 72%;
    }
    
    .circle-7__blog {
        border: 2px solid #F5FAFF;
        width: 12px;
        height: 12px;
        top: 200px;
        left: 74%;
    }
    
    .circle-8__blog {
        display: none;
    }
    
    .circle-9__blog {
        display: none;
    }

    .footer__items{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer__item-logo img {
        width: 127px;
        height: 35px;
    }

    .footer__item-title {
        font-size: 20px;
    }
    
    .footer__item-text {
        font-size: 14px;
        padding-top: 8px;
        line-height: 150%;
    }

    .footer__item-socials {
        gap: 0px;
    }

    .item-facebook {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-whatsapp {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-instagram {
        background-size: 66% 66%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-telegram {
        background-size: 66% 66%; /* Уменьшает изображение до 50% от размера контейнера */
        background-repeat: no-repeat;
        background-position: center;
    }
}