@font-face {
    font-family: "Cyrge";
    src: url(/fonts/Cyrge/Cygre-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Coolvetica";
    src: url(/fonts/Coolvetica/coolveticaRg.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Coolvetica";
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F3F0E8;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container{
    max-width: 1196px;
    padding: 0px 45px;
    margin: 0px auto;
    box-sizing: content-box;
}
/*-HEADER NAV------------------------------------------------*/
.header {
    height: 58px;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container{
    display: flex;
    min-height: 58px;
    align-items: center;
}

.header__logo {
    margin: 0px 20px 0px 0px;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu {
    padding: 24px 0;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child){
    margin: 0px 48px 0px 0px;
}

.menu__link {
    line-height: calc(24 / 20 * 100%);
}

.menu__link_request-call {
    font-size: 14px;
    display: flex;
    margin: 0px 0px 0px 86px;
    align-items: center;
    justify-content: center;
    border: 1px solid  #FFFFFF;
    border-radius: 40px;
    height: 42px;
    width: 148px;
}
/* ------------------------------ */
.page {
    flex: 1 1 auto;
}

/* --MAIN---------------------------- */
.main-block__body {
    padding: 22px 0px 0px 0px;
    position: relative;
    z-index: 2;
}

.main-block__title {
    font-size: 164px;
    font-family: "Coolvetica";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.main-block__information {
    position: relative;
    top: 200px;
    display: grid;
    justify-content: flex-end;
}

.main-block__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main-block__text {
    font-family: "Cyrge";
    white-space: nowrap;
}

.main-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.main-block__button-text {
    position: absolute;
}

.main-block__image {
    position: absolute;
    z-index: 10;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-block__color {
    position: absolute;
    width: 100%;
    height: 650px;
    top: 0;
    left: 0;
}

.main-block__color {
    background-color: #CC427A;
}
/* --Page-with-items-------------------------------- */
.page__item-interblock {
    height: 520px;
}

.circle-1 {
    position: absolute;
    z-index: 10;
    width: 72px;
    height: 72px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 5px solid #FDEBEF;
    margin: 500px 0px 0px -40px;
}

.circle-2 {
    position: absolute;
    z-index: 10;
    width: 512px;
    height: 512px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 15px solid #FDEBEF;
    margin: 80px 0px 0px -40px;
}

.circle-3 {
    position: absolute;
    z-index: 10;
    width: 156px;
    height: 156px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 10px solid #FDEBEF;
    margin: -40px 0px 0px 320px;
}

.circle-4 {
    position: absolute;
    z-index: 10;
    width: 140px;
    height: 140px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 10px solid #FDEBEF;
    margin: 240px 0px 0px 474px;
}

.circle-5 {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 10px solid #FDEBEF;
    margin: 370px 0px 0px 450px;
}

.circle-6 {
    position: absolute;
    z-index: 10;
    width: 122px;
    height: 122px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 10px solid #FDEBEF;
    margin: 300px 0px 0px 620px;
}

.circle-7 {
    position: absolute;
    z-index: 10;
    width: 72px;
    height: 72px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 5px solid #FDEBEF;
    margin: 430px 0px 0px 660px;
}

.circle-8 {
    position: absolute;
    z-index: 10;
    width: 370px;
    height: 370px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 15px solid #FDEBEF;
    margin: 40px 0px 0px 1660px;
}

.circle-9 {
    position: absolute;
    z-index: 10;
    width: 170px;
    height: 170px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 10px solid #FDEBEF;
    margin: 240px 0px 0px 1500px;
}

.circle-10 {
    position: absolute;
    z-index: 10;
    width: 72px;
    height: 72px;
    background-color: #F6B9C9;
    border-radius: 100%;
    border: 5px solid #FDEBEF;
    margin: 380px 0px 0px 1660px;
}

/* --Item------------------------------ */

.page__item-block {
    background-image: url(/img/background_Items.svg);
    position: absolute;
    height: 840px;
    margin-top: -100px;
    width: 100%;
    background-size: cover;
}

.item__title {
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    display: grid;
    justify-content: flex-end;
    margin: 100px 0px 140px 0px;
}

.item__body{
    display: flex;
}

.cards_item{
    margin: 0px 24px 0px 0px;
    flex: 0 1 25%;
}

.bubble_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
    margin: -40px 10px 10px 220px;
}

.bubble_2 {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: -70px 10px 10px 190px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
}

.card-item__background {
    width: 282px;
    height: 282px;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 10px solid #A8D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-item__image {
    margin: -20px 0px 0px 0px;
    max-width: 100%; /* Подгоняем изображение под размер фона */
    height: auto;  
}

.card-item__title {
    margin-top: 10px;
    font-family: "Coolvetica";
    line-height: 24px;
}
.card-item__text {
    font-family: "Cyrge";
    font-size: 16px;
}

.card-item__information {
    padding-top: 16px;
}

.item__pagination {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.item__pagination .item__pagination-indicator--active {
    background-color: #FFBC27;
    z-index: 10;
}

.item__pagination-button {
    background: #FFBC27;
    z-index: 10;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin: 0 24px;
    border-radius: 100%;
}

.item__pagination-indicators {
    display: flex;
    z-index: 10;
    gap: 10px;
}

.item__pagination-indicator {
    z-index: 10;
    background: #FFFFFF;
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
}


/* --Advantage------------------------- */

.interblock-block__advantage {
    height: 470px;
    margin-top: 570px;
    position: relative;
}

.circle__advantage{
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
}

.circle-1__advantage {
    position: absolute;
    border: 10px solid #F5FAFF;
    z-index: 10;
    width: 294px;
    height: 294px;
    margin: 37px 0px 0px -31px;
}

.circle-2__advantage {
    position: absolute;
    z-index: 10;
    width: 142px;
    height: 142px;
    margin: 92px 0px 0px 273px;
}

.circle-3__advantage {
    position: absolute;
    z-index: 10;
    width: 62px;
    height: 62px;
    margin: 242px 0px 0px 262px;
}

.circle-4__advantage {
    border: 3px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    margin: 242px 0px 0px 332px;
}

.circle-5__advantage {
    border: 15px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 472px;
    height: 472px;
    margin: 0px 0px 0px 1520px;
}

.circle-6__advantage {
    border: 10px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 172px;
    height: 172px;
    margin: 77px 0px 0px 1350px;
}

.circle-7__advantage {
    position: absolute;
    z-index: 10;
    width: 74px;
    height: 74px;
    margin: 204px 0px 0px 1300px;
}

.circle-8__advantage {
    border: 3px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    margin: 250px 0px 0px 1380px;
}

.circle-9__advantage {
    border: 10px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 108px;
    height: 108px;
    margin: 258px 0px 0px 1410px;
}

.advantage__title{
    color: #4C76CA;
    font-size: 72px;
    font-family: "Coolvetica";
    margin: -120px 0px 36px 0px;
}

.advantage__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px; /* Отступ между элементами */
}

.item-advantage__title {
    display: inline-block;
    margin: 0px 0px 8px 0px;
    color: #4C76CA;
    font-size: 24px;
    font-family: "Coolvetica";
}

.item-advantage__delimiter {
    height: 1px;
    width: 100%;
    background-color: #4C76CA;
}

.item-advantage__text {
    margin: 8px 0px 0px 0px;
    color: #4C76CA;
    font-size: 16px;
    font-family: "Cygre";
}
/* ------------------------------------ */
.cleanliness-block {
    height: 900px;
}

.cleanliness-block__background {
    background-image: url(/img/BG-Cleanlines.svg);
    position: absolute;
    margin-top: 30px;
    height: 90%;
    z-index: -1;
    width: 100%;
    background-size: cover;
}

.cleanliness-block__title {
    line-height: 110%;
    font-size: 96px;
    width: 502px;
    font-family: "Coolvetica";
}

.cleanliness-block__text {
    padding-top: 16px;
    line-height: 130%;
    font-size: 20px;
    font-family: "Cyrge";
    width: 526px;
}

.cleanliness-block__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Для вертикального выравнивания */
    align-items: center;
    margin-top: auto; /* Выталкивает кнопку к нижнему краю */
}

.cleanliness-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.cleanliness-block__button-text {
    width: 94px;
    position: absolute;
}

.cleanliness-block__left-image {
    margin-left: -100px;
    position: absolute;
}

.cleanliness-block__body {
    margin: 260px 0px 0px 480px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 42px;
}
/* --about us-------------------------- */

.about-us__body-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-us__body{
    display: flex;
    gap: 30px;
}

.about-us__column{
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin-top: 36px;
    height: 382px;
    width: 382px;
    border-radius: 100%;
    border: 1px solid #F5FAFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-us__head-title{
    display: inline-block;
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    width: 686px;
    color: #CC427A;
}

.about-us__head-description{
    margin-left: 25px;
    display: inline-block;
    width: 480px;
    color: #CC427A;
    font-family: "Cyrge";
}

.about-us__avatar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.about-us__quotes {
    line-height: 0%;
    font-size: 240px;
    margin-top: 100px;
    font-family: "Coolvetica";
    color: #F6B9C9;
}

.about-us__title {
    padding: 0px 54px 0px 54px;
    font-size: 24px;
    line-height: 150%;
    font-family: "Coolvetica";
    color: #CC427A;
}

.about-us__text {
    color: #CC427A;
    font-size: 16px;
    padding: 0px 20px 0px 54px;
    font-family: "Cyrge";
    line-height: 150%;
}
/* --Blog------------------------------ */
.interblock-block__blog{
    height: 300px;
}

.circle__blog{
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
}


.circle-1__blog {
    position: absolute;
    border: 10px solid #F5FAFF;
    z-index: 10;
    width: 294px;
    height: 294px;
    margin: 37px 0px 0px -31px;
}

.circle-2__blog {
    position: absolute;
    z-index: 10;
    width: 142px;
    height: 142px;
    margin: 92px 0px 0px 273px;
}

.circle-3__blog {
    position: absolute;
    z-index: 10;
    width: 62px;
    height: 62px;
    margin: 242px 0px 0px 262px;
}

.circle-4__blog {
    border: 3px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    margin: 242px 0px 0px 332px;
}

.circle-5__blog {
    border: 15px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 472px;
    height: 472px;
    margin: 0px 0px 0px 1520px;
}

.circle-6__blog {
    border: 10px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 172px;
    height: 172px;
    margin: 77px 0px 0px 1350px;
}

.circle-7__blog {
    position: absolute;
    z-index: 10;
    width: 74px;
    height: 74px;
    margin: 204px 0px 0px 1300px;
}

.circle-8__blog {
    border: 3px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    margin: 250px 0px 0px 1380px;
}

.circle-9__blog {
    border: 10px solid #F5FAFF;
    position: absolute;
    z-index: 10;
    width: 108px;
    height: 108px;
    margin: 258px 0px 0px 1410px;
}
/* --FOOTER---------------------------- */
footer{

    background-color: #4C76CA;
    font-style: normal;
}

.footer__items {
    padding-top: 74px;
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
.footer__item-title {
    font-family: "Coolvetica";
    font-size: 24px;
    line-height: 150%;
}
.footer__item-text {
    font-family: "Cygre";
    display: inline-grid;
    color: #FFFFFF;
    justify-content: center;
    font-size: 16px;
    padding-top: 35px;
    line-height: 30px;
}

.footer__item-logo img{
    width: 189px;
    height: 53px;
}

.footer__item-img {
    padding-top: 22px;
}

.item-img + .item-img {
    padding-left: 15px;
}

.footer__item-socials {
    display: flex;
    gap: 24px;
}

.footer__lower{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    font-family: "Cygre";
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 48px;
    line-height: 150%;
}