@font-face {
    font-family: "Cyrge";
    src: url(/fonts/Cyrge/Cygre-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Coolvetica";
    src: url(/fonts/Coolvetica/coolveticaRg.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-family: "Coolvetica";
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Coolvetica";
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F3F0E8;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
}

._container{
    max-width: 1196px;
    padding: 0px 45px;
    margin: 0px auto;
    box-sizing: content-box;
}
/*-HEADER NAV------------------------------------------------*/
.header {
    height: 58px;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container{
    display: flex;
    min-height: 58px;
    align-items: center;
}

.header__logo {
    margin: 0px 20px 0px 0px;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu {
    padding: 24px 0;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child){
    margin: 0px 48px 0px 0px;
}

.menu__link {
    line-height: calc(24 / 20 * 100%);
}

@media(hover: hover){
    .menu__link:hover {
        opacity: .85;
    }
}

.menu__link_request-call {
    font-size: 14px;
    display: flex;
    margin: 0px 0px 0px 86px;
    align-items: center;
    justify-content: center;
    border: 1px solid  #FFFFFF;
    border-radius: 40px;
    height: 42px;
    width: 148px;
}

/* ------------------------------ */
.page {
    flex: 1 1 auto;
}

/* --MAIN---------------------------- */
.main-block__body {
    padding: 22px 0px 0px 0px;
    position: relative;
    z-index: 2;
}

.main-block__title {
    font-size: 164px;
    font-family: "Coolvetica";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.main-block__information {
    position: relative;
    top: 200px;
    display: grid;
    justify-content: flex-end;
}

.main-block__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main-block__text {
    font-family: "Cyrge";
    white-space: nowrap;
}

.main-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.main-block__button-text {
    position: absolute;
}

.main-block__image {
    position: absolute;
    z-index: 10;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._cbg {
    position: relative;
}

._cbg div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main-block__background {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #CC427A;
    top: 0;
    left: 0;
}

/* --Page-with-items-------------------------------- */
.circles__container {
    height: 600px;
    margin-inline: auto;
    position: relative;
}

[class^="circle-"] {
    position: absolute;
    z-index: 10;
    background-color: #F6B9C9;
    border-radius: 100%;
    margin-inline: auto;
    width: 100%;
    aspect-ratio: 1 / 1 ;
}

.circle-1 {
    width: 72px;
    height: 72px;
    border: 5px solid #FDEBEF;
    top: 500px;
    left: -40px;
}


.circle-2 {
    width: 512px;
    height: 512px;
    border: 15px solid #FDEBEF;
    top: 80px;
    left: -40px;
}

.circle-3 {
    width: 156px;
    height: 156px;
    border: 10px solid #FDEBEF;
    top: -40px;
    left: 320px;
}

.circle-4 {
    width: 140px;
    height: 140px;
    border: 10px solid #FDEBEF;
    top: 240px;
    left: 474px;
}

.circle-5 {
    width: 200px;
    height: 200px;
    border: 10px solid #FDEBEF;
    top: 370px;
    left: 450px;
}

.circle-6 {
    width: 122px;
    height: 122px;
    border: 10px solid #FDEBEF;
    top: 300px;
    left: 620px;
}

.circle-7 {
    width: 72px;
    height: 72px;
    border: 5px solid #FDEBEF;
    top: 430px;
    left: 660px;
}

.circle-8 {
    width: 370px;
    height: 370px;
    border: 15px solid #FDEBEF;
    top: 40px;
    left: 90%;
}

.circle-9 {
    width: 170px;
    height: 170px;
    border: 10px solid #FDEBEF;
    top: 240px;
    left: 80%;
}

.circle-10 {
    width: 72px;
    height: 72px;
    border: 5px solid #FDEBEF;
    top: 380px;
    left: 90%;
}
/* --Item------------------------------ */

.page__item-block {
    background-image: url(/img/bg.svg);
    position: absolute;
    height: 840px;
    margin-top: -100px;
    width: 100%;
    background-size: cover;
}

.item__title {
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    display: grid;
    justify-content: flex-end;
    margin: 100px 0px 140px 0px;
}

.item__body{
    display: flex;
}

.cards_item{
    margin: 0px 24px 0px 0px;
    flex: 0 1 25%;
}

.bubble_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
    margin: -40px 10px 10px 220px;
}

.bubble_2 {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: -70px 10px 10px 190px;
    background-color: #A8D2FF;
    border-radius: 100%;
    border: 5px solid #F5FAFF;
}

.card-item__background {
    width: 282px;
    height: 282px;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 10px solid #A8D2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-item__image {
    margin: -20px 0px 0px 0px;
    max-width: 100%; /* Подгоняем изображение под размер фона */
    height: auto;  
}

.card-item__title {
    margin-top: 10px;
    font-family: "Coolvetica";
    line-height: 24px;
}
.card-item__text {
    font-family: "Cyrge";
    font-size: 16px;
}

.card-item__information {
    padding-top: 16px;
}

.item__pagination {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.item__pagination .item__pagination-indicator--active {
    background-color: #FFBC27;
    z-index: 10;
}

.item__pagination-button {
    background: #FFBC27;
    z-index: 10;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin: 0 24px;
    border-radius: 100%;
}

.item__pagination-indicators {
    display: flex;
    z-index: 10;
    gap: 10px;
}

.item__pagination-indicator {
    z-index: 10;
    background: #FFFFFF;
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
}


/* --Advantage------------------------- */

.circles__container-advantage {
    height: 470px;
    margin-top: 570px;
    position: relative;
    margin-inline: auto;
}

.circle__advantage{
    margin-inline: auto;
    z-index: 10;
    position: absolute;
    background-color: #A8D2FF;
    border-radius: 100%;
    width: 100%;
    border: 5px solid #F5FAFF;
    aspect-ratio: 1 / 1 ;
}

.circle-1__advantage {
    border: 10px solid #F5FAFF;
    width: 294px;
    height: 294px;
    top: 31px;
    left: -2%;
}

.circle-2__advantage {
    width: 142px;
    height: 142px;
    top: 92px;
    left: 14%;
}

.circle-3__advantage {
    width: 62px;
    height: 62px;
    top: 242px;
    left: 13%;
}

.circle-4__advantage {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 242px;
    left: 17%;
}

.circle-5__advantage {
    border: 15px solid #F5FAFF;
    width: 472px;
    height: 472px;
    left: 80%;
}

.circle-6__advantage {
    border: 10px solid #F5FAFF;
    width: 172px;
    height: 172px;
    top: 77px;
    left: 71%;
}

.circle-7__advantage {
    width: 74px;
    height: 74px;
    top: 204px;
    left: 68%;
}

.circle-8__advantage {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 250px;
    left: 73%;
}

.circle-9__advantage {
    border: 10px solid #F5FAFF;
    width: 108px;
    height: 108px;
    top: 258px;
    left: 74%;
}

.advantage__title{
    color: #4C76CA;
    font-size: 72px;
    font-family: "Coolvetica";
    margin: -120px 0px 36px 0px;
}

.advantage__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px; /* Отступ между элементами */
}

.item-advantage__title {
    display: inline-block;
    margin: 0px 0px 8px 0px;
    color: #4C76CA;
    font-size: 24px;
    font-family: "Coolvetica";
}

.item-advantage__delimiter {
    height: 1px;
    width: 100%;
    background-color: #4C76CA;
}

.item-advantage__text {
    margin: 8px 0px 0px 0px;
    color: #4C76CA;
    font-size: 16px;
    font-family: "Cygre";
}
/* ------------------------------------ */
.cleanliness-block {
    margin-top: 30px;
    background-image: url(/img/BG-Cleanlines.svg);
    height: 900px;
    width: 100%;
    background-size: cover; /* увеличиваем размер на 50% */
}

.cleanliness-block__title {
    line-height: 110%;
    font-size: 96px;
    width: 502px;
    font-family: "Coolvetica";
}

.cleanliness-block__text {
    padding-top: 16px;
    line-height: 130%;
    font-size: 20px;
    font-family: "Cyrge";
    width: 526px;
}

.cleanliness-block__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Для вертикального выравнивания */
    align-items: center;
    margin-top: auto; /* Выталкивает кнопку к нижнему краю */
}

.cleanliness-block__button {
    color: #FFFFFF;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.cleanliness-block__button-text {
    width: 94px;
    position: absolute;
}

.cleanliness-block__left-image {
    margin-left: -73px;
    margin-top: 102px;
    position: absolute;
}

.cleanliness-block__body {
    padding: 260px 0px 0px 480px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 42px;
}
/* --about us-------------------------- */
.about-us-block{
    margin-top: 42px;
}
.about-us__body-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-us__body{
    display: flex;
    gap: 30px;
}

.about-us__column{
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin-top: 36px;
    height: 382px;
    width: 382px;
    border-radius: 100%;
    border: 1px solid #F5FAFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-us__head-title{
    display: inline-block;
    font-size: 72px;
    font-family: "Coolvetica";
    text-transform: uppercase;
    width: 686px;
    color: #CC427A;
}

.about-us__head-description{
    margin-left: 25px;
    display: inline-block;
    width: 480px;
    color: #CC427A;
    font-family: "Cyrge";
}

.about-us__avatar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.about-us__quotes {
    line-height: 0%;
    font-size: 240px;
    margin-top: 100px;
    font-family: "Coolvetica";
    color: #F6B9C9;
}

.about-us__title {
    padding: 0px 54px 0px 54px;
    font-size: 24px;
    line-height: 150%;
    font-family: "Coolvetica";
    color: #CC427A;
}

.about-us__text {
    color: #CC427A;
    font-size: 16px;
    padding: 0px 20px 0px 54px;
    font-family: "Cyrge";
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.about-us__pagination {
    background-color: #CC427A;
}

.about__pagination-indicator--active{
    background-color: #CC427A;
}
/* --Blog------------------------------ */
.circles__container-blog {
    position: relative;
    margin-inline: auto;
}

.circle__blog{
    margin-inline: auto;
    z-index: 100;
    position: absolute;
    background-color: #A8D2FF;
    border-radius: 100%;
    width: 100%;
    border: 5px solid #F5FAFF;
    margin-top: -140px;
    aspect-ratio: 1 / 1 ;
}

.circle-1__blog {
    border: 10px solid #F5FAFF;
    width: 294px;
    height: 294px;
    top: 31px;
    left: -2%;
}

.circle-2__blog {
    width: 142px;
    height: 142px;
    top: 92px;
    left: 14%;
}

.circle-3__blog {
    width: 62px;
    height: 62px;
    top: 242px;
    left: 13%;
}

.circle-4__blog {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 242px;
    left: 17%;
}

.circle-5__blog {
    border: 15px solid #F5FAFF;
    width: 472px;
    height: 472px;
    left: 80%;
}

.circle-6__blog {
    border: 10px solid #F5FAFF;
    width: 172px;
    height: 172px;
    top: 77px;
    left: 71%;
}

.circle-7__blog {
    width: 74px;
    height: 74px;
    top: 204px;
    left: 68%;
}

.circle-8__blog {
    border: 3px solid #F5FAFF;
    width: 32px;
    height: 32px;
    top: 250px;
    left: 73%;
}

.circle-9__blog {
    border: 10px solid #F5FAFF;
    width: 108px;
    height: 108px;
    top: 258px;
    left: 74%;
}

.blog__container{
    position: relative;
    z-index: 10;
}

.page__blog {
    margin-top: 90px;
    background-image: url("/img/background_Items.svg");
    height: 600px;
    width: 100%;
    background-size: cover;
}

.blog__title{
    display: inline-block;
    font-size: 72px;
    padding: 100px 0px 36px 200px;
    text-transform: uppercase;
}

.blog__body{
    max-width: 100%;
    gap: 25px;
    display: flex;
}

.item-blog__text{
    padding-top: 8px;
    font-size: 20px;
    font-family: "Cygre";
    width: 382px;
}
/* --FOOTER---------------------------- */
footer{
    margin-top: 8px;
    background-color: #4C76CA;
    font-style: normal;
}

.footer__items {
    padding-top: 74px;
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    justify-content: space-between;
}
.footer__item-title {
    font-family: "Coolvetica";
    font-size: 24px;
    line-height: 150%;
}
.footer__item-text {
    font-family: "Cygre";
    display: inline-grid;
    color: #FFFFFF;
    justify-content: center;
    font-size: 16px;
    padding-top: 35px;
    line-height: 30px;
}

.zovnishnii_container {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
}

.footer__item-img {
    padding-top: 22px;
}

.item-img + .item-img {
    padding-left: 15px;
}

.footer__item-socials {
    display: flex;
    gap: 24px;
}

.item-facebook {
    background-image: url(/img/Facebook.svg);
    height: 36px;
    width: 36px;
}

.item-whatsapp {
    background-image: url(/img/WhatsApp.svg);
    height: 36px;
    width: 36px;
}

.item-instagram {
    background-image: url(/img/Instagram.svg);
    height: 36px;
    width: 36px;
}

.item-telegram {
    background-image: url(/img/Telegram.svg);
    height: 36px;
    width: 36px;
}

.footer__item-lower{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    font-family: "Cygre";
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 48px;
    line-height: 150%;
}

.footer__terms {
    text-decoration: underline;
    font-family: "Cygre";
}

.footer__privacy {
    text-decoration: underline;
    font-family: "Cygre";
}

/* --Popup----------------- */

.popup {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__content {
    background-color: #F3F0E8;
    border: 1px solid #FFFFFF;
    padding: 28px 120px;
    border-radius: 500px;
    position: relative;
}

.popup__close {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #A8D2FF;
}

.popup__title {
    margin-top: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Coolvetica";
    font-size: 32px;
    color: #4C76CA;
    line-height: 150%;
    text-align: center;
}

.popup__text {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cygre";
    font-size: 16px;
    color: #4C76CA;
    line-height: 130%;
    max-width: 177px;
    text-align: center;
    margin-bottom: 12px;
}

input[type="text"],
input[type="tel"] {
    font-size: 16px;
    width: 100%;
    padding: 20px 0 20px 20px;
    margin: 8px 0;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4C76CA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #3c62ad;
}

/* --Media------------------ */

@media (min-width: 1200px) and (max-width: 1440px) {
    .main-block__title {
        font-size: 138px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .main-block__title {
        font-size: 116px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu__item:not(:last-child) {
        margin: 0px 38px 0px 0px;
    }
    
    .menu__link_request-call {
        margin: 0px 0px 0px 0px;
    }

    .main-block__title {
        font-size: 88px;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .menu__item:not(:last-child){
        margin: 24px 48px 0px 0px;
    }
    
    .main-block__title {
        font-size: 68px;
    }
}

@media (max-width: 576px) {
    .main-block__title {
        margin-top: 8px;
        font-size: 80px;
        white-space: normal;
        text-align: center;
    }
    
    .main-image {
        height: 356px;
    }
    
    .main-block__image {
        position: absolute;
        z-index: 10;
        top: 138%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-block__information {
        position: relative;
        top: 420px;
        display: block;
    }
    
    .main-block__button-text {
        font-size: 14px;
        line-height: 120%;
    }

    .main-block__buttons {
        justify-content: flex-end;
        position: relative;
        top: -50px;
    }

    .main-block__buttons img {
        height: 96px;
        width: 96px;
    }

    .circles__container {
        height: 600px;
        margin-inline: auto;
        position: relative;
    }

    [class^="circle-"] {
        position: absolute;
        z-index: 10;
        background-color: #F6B9C9;
        border-radius: 100%;
        margin-inline: auto;
        width: 100%;
        aspect-ratio: 1 / 1 ;
    }

    .circle-1 {
        border: 3px solid #FDEBEF;
        height: 55px;
        width: 55px;
        top: 3%;
        left: 2%;
    }
    .circle-2 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 70px;
        left: 11%;
    }
    .circle-3 {
        border: 5px solid #FDEBEF;
        height: 105px;
        width: 105px;
        top: 80px;
        left: -10%;
    }
    .circle-4 {
        border: 5px solid #FDEBEF;
        height: 120px;
        width: 120px;
        top: 0px;
        left: 80%;
    }
    .circle-5 {
        border: 8px solid #FDEBEF;
        height: 280px;
        width: 280px;
        top: 300px;
        left: -6%;
    }
    .circle-6 {
        border: 5px solid #FDEBEF;
        height: 105px;
        width: 105px;
        top: 58%;
        left: 60%;
    }
    .circle-7 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 54%;
        left: 94%;
    }
    .circle-8 {
        border: 3px solid #FDEBEF;
        height: 55px;
        width: 55px;
        top: 76%;
        left: 56%;
    }
    .circle-9 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 76%;
        left: 76%;
    }
    .circle-10 {
        border: 2px solid #FDEBEF;
        height: 29px;
        width: 29px;
        top: 76%;
        left: 76%;
    }
    .header__menu {
        display: none; /* Скрываем обычное меню */
    }

    .header__toggle {
        cursor: pointer;
        display: block;
        padding: 10px;
    }

    .header__toggle span {
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 100%;
        background-color: #fff;
        margin: 3px 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    /* Анимация для адаптивного меню */
    .header__toggle.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .header__toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .header__toggle.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Показываем меню после активации */
    .header__menu.active {
        display: block;
    }
}
